<div class="coverer bg-white pt-5 pb-5">
    <h3 class="spanUs text-white"><b>Our mission is to assist you in achieving robust health and happy life!</b></h3>
    <div class="container d-flex justify-content-center pb-2">
        <div class="col ps-4">
            <img src="../../img/PNV-Hakathon.jpg" alt=""
                style="width: 650px;height:auto; box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);border-radius:15px">
        </div>
        <div class="col ms-5 mb-3 pe-4">
            <h1 class="" style="color: red;"><b>About Us</b></h1>
            <p style="text-align: justify;" class="mt-2 pb-0 mb-0"><b>In October 2023, HappyMinds Was Born.</b></p>
            <p style="text-align: justify;">We are both second-year students at a school in Da Nang.
                Delving into the field of advanced technology is the common aspiration of every IT student.
            </p>
            <p style="text-align: justify;">
                With the knowledge we have
                learned and After two weeks of tireless dedication, our efforts have culminated in creating a product
                that makes us
                extremely proud, which is a website called HappyMinds.</p>
            <p style="text-align: justify;" class="pt-2 pb-0 mb-0"><b>Our team consists of 5 members.</b></p>
            <p style="text-align: justify;">We formed a formidable team during our school training, and this strength
                persisted as we
                participated in the Danang
                Hackathon in 2023.</p>
            <p style="text-align: justify;" class=" pb-0 mb-0">Accomplishing numerous notable achievements both within
                our school and throughout
                the entire province of Danang.</p>
            <center>
                <p style="" class="mt-2"><i>HappyMinds Lives in Da Nang. An exquisite city!</i></p>
            </center>
        </div>
    </div>

    <div class=" row pt-5">
        <div class="pb-2">
            <center>
                <h2 style="color: red;"><b>Our Cofounders</b></h2>
            </center>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <div class="col-4 me-3">
                <center>
                    <a href="https://www.linkedin.com/in/nhat-nguyen-lam-5b6568284/">
                        <img class="cofounder rounded-circle pb-4" src="../../img/lnhat.jpg" alt=""
                            style="width: 350px;height:370px;object-fit: cover;">
                        <h5><b>Mr.Lâm Nhật</b></h5>
                        <p>Full-Stack Developer</p>
                    </a>
                </center>
            </div>
            <div class="col-4 ms-3">
                <center>
                    <a href="https://www.linkedin.com/in/huyen-ho-thi-59032629b/">
                        <img class="cofounder rounded-circle pb-4" src="../../img/huyen.jpg" alt=""
                            style="width: 350px;height:370px;object-fit: cover;">
                        <h5><b>Ms.Thị Huyền</b></h5>
                        <p>Full-Stack Developer</p>
                    </a>
                </center>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-5">
            <div class="col ms-5">
                <center>
                    <a href="https://www.facebook.com/profile.php?id=100046010536355">
                        <img class="cofounder rounded-circle pb-4" src="../../img/tuongnhat.jpg" alt=""
                            style="width: 330px;height:350px;object-fit: cover;">
                        <h5><b>Mr.Tường Nhật</b></h5>
                        <p>Full-Stack Developer</p>
                    </a>
                </center>
            </div>
            <div class="col">
                <center>
                    <a href="https://www.linkedin.com/in/ph%C3%A1t-tr%E1%BA%A7n-%C4%91%E1%BB%A9c-91653a287/">
                        <img class="cofounder rounded-circle pb-4" src="../../img/phat.jpg" alt=""
                            style="width: 330px;height:350px;object-fit: cover;">
                        <h5><b>Mr.Đức Phát</b></h5>
                        <p>Full-Stack Developer</p>
                    </a>
                </center>
            </div>
            <div class="col">
                <center>
                    <a href="https://www.linkedin.com/in/nguy%E1%BB%85n-quy%E1%BB%81n-4857782a7/">
                        <img class="cofounder rounded-circle pb-4" src="../../img/quyen.jpg" alt=""
                            style="width: 330px;height:350px;object-fit: cover;">
                        <h5><b>Mr.Đức Quyền</b></h5>
                        <p>Full-Stack Developer</p>
                    </a>
                </center>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center mb-5">
        <div class="bannerUs mt-5 ">
            <img class="imgBaner" src="../../img/360_F_356690509_JiltQy0oDQZ0skJYZVt8uMc9PmGn3MnD.jpg"
                style="border-radius:5px">
            <h2 class="spanBaner text-white">There is no substitute for hard work!</h2>
        </div>
    </div>

    <div class="container row pb-5 mb-5">
        <div class="col-2"></div>
        <div class="col-5  ps-5">
            <img class="mt-" src="../../img/mapPn.jpg" style="height: 550px;border-radius:5px;">
        </div>
        <div class="col-5">
            <div>
                <h3 style="color: red;"><b>So where do we come from ?</b></h3>
            </div>
            <div>
                <p style="text-align: justify;">We are separate individuals, with different origins across five provinces.
                    Within each of us lies a
                    strong desire and
                    determination to overcome difficult circumstances - a difficult task, especially for those of us
                    living in rural areas.
                    However, thanks to a fortuitous event, we were fortunate to cooperate with the non-governmental,
                    non-profit organization
                    PNV.
                </p>
                <p style="text-align: justify;">
                    PNV is like a beacon of hope, giving us the opportunity to realize our aspirations. Both a
                    cheerleader and a benefactor,
                    PNV stood by our side in a foreign land from the comforts of home, a steadfast companion in our most
                    challenging
                    moments.</p>
                <p><b>Background:</b>
                </p>
                <p style="text-align: justify;">
                    The actual socio-economic situation of Vietnam before starting operations. Data shows that despite
                    strong economic
                    growth, the majority of people in remote areas in the Central and Central Highlands still face many
                    difficulties and do
                    not have many opportunities to access higher education after high school. .
                <p style="text-align: justify;">
                    Meanwhile, with strong support and encouragement from the government, Da Nang is determined to
                    become an IT center in
                    the future.</p>
                </p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div>
                <img id="bannerPnv" src="../../img/PNV_students.jpg" style="width: 1300px;border-radius:5px">
                <center>
                    <h2 class="mt-3" style="color: red;"><b>So Who is PNV ?</b></h2>
                </center>
            </div>
            <div class="col-6 mt-4">
                <p style="text-align: justify;"><b>PNV's mission</b>
                </p>
                <p style="text-align: justify;">
                    Passerelles numériques (PN) is a French non-governmental organization, founded in 2005 and
                    operating
                    in 3 Asian
                    countries: Cambodia, Philippines, Vietnam and Madagascar.
                </p>
                <p style="text-align: justify;">
                    Our mission is to enable disadvantaged youth to receive education, professional training and
                    skills
                    training in the
                    digital field by maximizing their potential and strengths. your will. We also strive to help
                    children find jobs to help
                    them and their families escape poverty in a sustainable way, contributing to the overall
                    socio-economic development of
                    the country.
                </p>
                <p style="text-align: justify;">
                    The subjects PN supports are young people in very difficult circumstances who need help.
                    Depending
                    on the
                    characteristics of each country in which PN has an active training center, admission criteria
                    will
                    be adjusted for each
                    country fit.</p>
            </div>
            <div class="col-6 mt-4 border-start">
                <p><b>
                        Sứ mệnh Của PNV
                    </b></p>
                <p style="text-align: justify;">
                    Passerelles numériques (PN) là một tổ chức phi chính phủ của Pháp, được thành lập năm 2005 và
                    đang
                    hoạt
                    động tại 3 quốc
                    gia châu Á: Campuchia, Philippines, Việt Nam và Madagascar.
                </p>
                <p style="text-align: justify;">
                    Sứ mệnh của chúng tôi là tạo điều kiện cho các thanh niên có hoàn cảnh khó khăn được học hành,
                    được
                    đào
                    tạo chuyên môn
                    và đào tạo kĩ năng trong lĩnh vực kĩ thuật số bằng cách phát huy tối đa tiềm năng cũng như sức
                    mạnh
                    ý
                    chí của các em.
                    Chúng tôi cũng nổ lực giúp các em có việc làm nhằm giúp các em và gia đình thoát khỏi đói nghèo
                    một
                    cách
                    bền vững,góp
                    phần vào sự phát triển kinh tế xã hội chung của đất nước.
                </p>
                <p style="text-align: justify;">
                    Các đối tượng PN hỗ trợ là các thanh thiếu niên có hoàn cảnh rất khó khăn, rất cần sự giúp đỡ
                    Tùy theo
                    đặc thù mỗi nước
                    mà PN có trung tâm đào tạo đang hoạt động, các tiêu chí tuyển sinh sẽ được điều chỉnh cho phù
                    hợp.
                </p>
            </div>
        </div>
    </div>
    <center>
        <button onclick="directed()" class="btn btn-outline-primary mt-5">
            <b>About PNV ></b>
        </button>
    </center>
</div>